<nav class="navbar navbar-expand-md navbar-dark bg-white fixed-top nuevonav" id="navbar">
        
    <a class="logo"  href="index.html"><img src="/images/Copia de MHlogo.png" alt="logo" id="logo" height="100px"></a>

    <button class="navbar-toggler contenidonav" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-expanded="false" aria-controls="#navbarSupportedContent">            
        <span class="navbar-toggler-icon"></span>
    </button>
        
    <div class="collapse navbar-collapse contenidonav" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="textonav nav-link activo" href="/">
                    Inicio
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle textonav" href="/disciplinas" role="button" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        Disciplinas
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/disciplinas">Expresion Corporal</a></li>
                    <li><a class="dropdown-item" href="/disciplinas">Iniciación</a></li>
                    <li><a class="dropdown-item" href="/disciplinas">Danza Clásica</a></li>
                    <li><a class="dropdown-item" href="/disciplinas">Danza Jazz</a></li>
                    <li><a class="dropdown-item" href="/disciplinas">Entrenamiento</a></li>
                    <li><a class="dropdown-item" href="/disciplinas">Yoga</a><li>                  
                </ul>
            </li>
            <li class="nav-item active"><a class="nav-link textonav" href="/staff">Staff</a></li>
            <li class="nav-item active"><a class="nav-link textonav" href="/horarios">Horarios</a></li>
            <li class="nav-item active"><a class="nav-link textonav" href="/contacto">Contacto</a></li>    
        </ul>
    </div>
</nav>
    <!-- JavaScript Bundle with Popper -->