<body class="bodydisciplinas">  
    <main class="maindisciplinas">
        <div class="contenedor-clases v2">
            <div class="contenedor-clase row">
                <div class="col-md-8 disciplina2"> <h2>Expresion Corporal</h2></div>
                <div class="col-md-4"></div>
            </div>
            <div class="contenedor-clase row">

                <div class="col-md-8 textodisciplina2 order-md-0 order-1">             
                    <p>Esta actividad esta destinada a niños y niñas de 3 a 6 años. La Expresión Corporal permite que el niño vaya adquiriendo conocimiento del espacio y de su propio cuerpo, enriquece sus habilidades comunicativas, desarrollando la imaginacion, creatividad y espontenaeidad. A traves de juegos y actividaes se trabajan aptitudes fisicas como ser la coordinacion, el movimiento y el equilibrio con el proposito fundamental de sondear la emoción, el vínculo con uno y con los demás.</p>
                </div>
                <div class="col-md-4 order-md-1 order-0">
                    <img src="./images/iniciacionaladanza.jpg" class="img-fluid" alt="Iniciacion a la danza">
                </div>
            </div>
        </div>

        <div class="contenedor-clases v1">
            <div class="contenedor-clase row" >
                <div class="col-md-4"></div>
                <div class="col-md-8 disciplina1"   > <h2>Iniciación a la Danza</h2></div>
            </div>
            <div class="contenedor-clase row">
                <div class="col-md-4">
                    <img src="./images/iniciacion.png" class="img-fluid" alt="Iniciacion a la danza">
                </div>
                <div class="col-md-8 textodisciplina1">
                    
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex at autem culpa optio praesentium odit repellendus error repellat! Autem pariatur possimus omnis nisi. Totam consectetur accusantium quia sequi, maxime ex.</p>
                </div>
            </div>
        </div>
        <div class="contenedor-clases v2" id="clasica">
            <div class="contenedor-clase row">

                <div class="col-md-8 disciplina2" > <h2>Danza Clásica</h2></div>
                <div class="col-md-4"></div>
            </div>
            <div class="contenedor-clase row">

                <div class="col-md-8 textodisciplina2 order-md-0 order-1">
                    
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex at autem culpa optio praesentium odit repellendus error repellat! Autem pariatur possimus omnis nisi. Totam consectetur accusantium quia sequi, maxime ex.</p>
                </div>
                <div class="col-md-4 order-md-1 order-0">
                    <img src="./images/danzaclasica.png" class="img-fluid" alt="Iniciacion a la danza">
                </div>
            </div>
        </div>
        <div class="contenedor-clases v1">
            <div class="contenedor-clase row">
                <div class="col-md-4"></div>
                <div class="col-md-8 disciplina1"> <h2>Danza Jazz</h2></div>
            </div>
            <div class="contenedor-clase row">
                <div class="col-md-4">
                    <img src="./images/danzajazz.jpg" class="img-fluid" alt="Iniciacion a la danza">
                </div>
                <div class="col-md-8 textodisciplina1">
                    
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex at autem culpa optio praesentium odit repellendus error repellat! Autem pariatur possimus omnis nisi. Totam consectetur accusantium quia sequi, maxime ex.</p>
                </div>
            </div>
        </div>

        <div class="contenedor-clases v2">
            <div class="contenedor-clase row">

                <div class="col-md-8 disciplina2"> <h2>Entrenamiento</h2></div>
                <div class="col-md-4"></div>
            </div>
            <div class="contenedor-clase row">

                <div class="col-md-8 textodisciplina2 order-md-0 order-1">
                    
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex at autem culpa optio praesentium odit repellendus error repellat! Autem pariatur possimus omnis nisi. Totam consectetur accusantium quia sequi, maxime ex.</p>
                </div>
                <div class="col-md-4 order-md-1 order-0">
                    <img src="./images/entrenamiento.png" class="img-fluid" alt="Iniciacion a la danza">
                </div>
            </div>
        </div>
        <div class="contenedor-clases v1 last">
            <div class="contenedor-clase row">
                <div class="col-md-4"></div>
                <div class="col-md-8 disciplina1"> <h2>Yoga</h2></div>
            </div>
            <div class="contenedor-clase row">
                <div class="col-md-4">
                    <img src="./images/yoga.png" class="img-fluid" alt="Iniciacion a la danza">
                </div>
                <div class="col-md-8 textodisciplina1">
                    
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex at autem culpa optio praesentium odit repellendus error repellat! Autem pariatur possimus omnis nisi. Totam consectetur accusantium quia sequi, maxime ex.</p>
                </div>
            </div>
        </div>
    </main>
</body> 