<body class="bodyhorarios">
    <main class="fondohorarios container">
            <h1 class="display-4 font-weight-bold text-uppercase text-center">HORARIOS</h1>
            <div class="imghorarios">
                <img src="images/horarios.jpg" class="img-fluid"  alt="Horarios">
            </div>
    </main>
</body>