    <main class="main">
       <section class="contenedor-escuela">
            <div class="contenido-escuela">
                <h2>ESCUELA DE DANZAS</h2>
                <h1>Miriam Heredia</h1>  
            </div> 
        </section>

        <div class="contenedor-index">
            <div class="row">
                <div class="col-md-4 escuela"></div>
                <div class="col-md-8 escuela">
                    <h2>La Escuela</h2>
                </div>
            </div>
            <div class="row indexsection">
                <div class="col-md-4 escuela">

                    <img src="./images/miriam3.png" alt="miriam" class="img-fluid imgmiriam">
                </div>
                <div class="col-md-8 escuela">
                    <p>La Escuela de Danzas Miriam Heredia, es una escuela con <span>52 años</span> de trayectoria. Desde el año 1969 permanece con las puertas abiertas para todos aquellos niños y adultos que deseen volar y disfrutar de su cuerpo en movimiento</p>
                    <p>Las disciplinas que se dictan son: Expresion Corporal para niños de 3 a 5 años, <strong>Iniciación a la Danza</strong> 6 y 7 años, <strong>Técnica Clásica</strong> a partir de los 9 años, <strong>Danza Jazz</strong> para niños, adolescentes y adultos, clases de <strong>Entrenamiento</strong> para bailarines y <strong>Yoga</strong>
                    </p>
                   
                    <blockquote>
                        <img src="./images/comilla.svg" height="45px" alt="comillas"> La Danza es una disciplina artística que nos permite disfrutar la vida teniendo como herramienta nuestro cuerpo, donde al involucrar el espíritu podemos alcanzar la maravillosa fantasía de plasmar en cada obra lo que llevamos dentro, una energía sutil, dinámica y profunda."
                        <figcaption class="blockquote-footer">
                        <cite title="Source Title">Miriam Heredia</cite>
                        </figcaption>
                    </blockquote>
                </div>
            </div>
            <hr>

            <div class="row">
                <div class="col-md-5 escuela1"><h2>Salón de Danzas</h2></div>
            </div>
            
            <div class="row indexsection">
                <div class="col-md-5 escuela1 order-1 order-md-0">
                    <h3>El salon de danzas cuenta con:</h3>
                    <ul>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="16" fill="#0c776b" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                            <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/></svg>
                            Espacio amplio
                        </li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="16" fill="#0c776b" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                            <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/></svg>
                            Grandes espejos
                        </li>
                        <li>                               
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="16" fill="#0c776b" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                            <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/></svg>
                            Buena ilumnacion
                        </li>
                        <li>                            
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="16" fill="#0c776b" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                            <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/></svg>
                            Ventilacion
                        </li>
                        <li>                            
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="16" fill="#0c776b" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                            <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/></svg>
                            Baño
                            </li>
                        <li>                            
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="16" fill="#0c776b" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                            <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/></svg>
                            Secretaría
                        </li>
                    </ul>

                </div>
                <div class="col-md-7 escuela order-0 order-md-1">
                    <img src="./images/salonMH2.png" alt="miriam" class="img-fluid imgmiriam">
                </div>
            </div>
        </div>
    </main>