 <main class="mainstaff">
        <div class="contenedor-staff row">
            <div class="card mb-3 cardstaff">
                <div class="row g-0">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-8 staff">                            
                        <h2 class="card-title nombre">Miriam Heredia</h2>
                        <h3 class="card-title cargo">Directora</h3>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="./images/miriam.png" class="img-fluid imgstaff" alt="Miriam Heredia">
                    </div>
                    <div class="col-md-8 card-body staff">
                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias voluptatem ipsa earum doloribus aut soluta consequatur id autem, exercitationem, quis cumque debitis non! Soluta modi quasi ducimus illo quod numquam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium consequatur veritatis corrupti sapiente reprehenderit! Laborum animi labore in magni est deserunt odit veritatis, esse aspernatur tempore sed voluptatibus, autem incidunt. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi blanditiis veniam possimus praesentium voluptate optio soluta neque commodi alias! Totam, consectetur dignissimos sunt nisi sequi aut excepturi dicta ad eaque!</p>              
                    </div>
                </div>
            </div>
        </div>

        <div class="contenedor-staff row">
            <div class="card mb-3 cardstaff">
                <div class="row g-0">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-8 staff">                            
                        <h2 class="card-title nombre">Alicia Ortiz</h2>
                        <h3 class="card-title cargo">Vice Directora</h3>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="./images/alicia2.png" class="img-fluid imgstaff" alt="Alicia Ortiz">
                    </div>
                    <div class="col-md-8 card-body staff">
                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias voluptatem ipsa earum doloribus aut soluta consequatur id autem, exercitationem, quis cumque debitis non! Soluta modi quasi ducimus illo quod numquam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium consequatur veritatis corrupti sapiente reprehenderit! Laborum animi labore in magni est deserunt odit veritatis, esse aspernatur tempore sed voluptatibus, autem incidunt. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi blanditiis veniam possimus praesentium voluptate optio soluta neque commodi alias! Totam, consectetur dignissimos sunt nisi sequi aut excepturi dicta ad eaque!</p>              
                    </div>
                </div>
            </div>
        </div>

        <div class="contenedor-staff row">
            <div class="card mb-3 cardstaff">
                <div class="row g-0">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-8 staff">                            
                        <h2 class="card-title nombre">Virginia Weder</h2>
                        <h3 class="card-title cargo">Profesora</h3>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="./images/virgi.png" class="img-fluid imgstaff" alt="Virginia Weder">
                    </div>
                    <div class="col-md-8 card-body staff">
                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias voluptatem ipsa earum doloribus aut soluta consequatur id autem, exercitationem, quis cumque debitis non! Soluta modi quasi ducimus illo quod numquam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium consequatur veritatis corrupti sapiente reprehenderit! Laborum animi labore in magni est deserunt odit veritatis, esse aspernatur tempore sed voluptatibus, autem incidunt. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi blanditiis veniam possimus praesentium voluptate optio soluta neque commodi alias! Totam, consectetur dignissimos sunt nisi sequi aut excepturi dicta ad eaque!</p>              
                    </div>
                </div>
            </div>
        </div>

        <div class="contenedor-staff row">
            <div class="card mb-3 cardstaff">
                <div class="row g-0">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-8 staff">                            
                        <h2 class="card-title nombre">Maela Tolosa</h2>
                        <h3 class="card-title cargo">Profesora</h3>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="./images/mae5.png" class="img-fluid imgstaff" alt="Maela Tolosa">
                    </div>
                    <div class="col-md-8 card-body staff">
                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias voluptatem ipsa earum doloribus aut soluta consequatur id autem, exercitationem, quis cumque debitis non! Soluta modi quasi ducimus illo quod numquam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium consequatur veritatis corrupti sapiente reprehenderit! Laborum animi labore in magni est deserunt odit veritatis, esse aspernatur tempore sed voluptatibus, autem incidunt. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi blanditiis veniam possimus praesentium voluptate optio soluta neque commodi alias! Totam, consectetur dignissimos sunt nisi sequi aut excepturi dicta ad eaque!</p>              
                    </div>
                </div>
            </div>
        </div>
    </main>